{% extends 'index.html' %}

{% block content %}
<div class="row">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <div id="searchbox" class="input-field">
                    <input id="search" type="search" name="candname" value="Candidate Search">
                </div>
            </div>
        </div>
    </div>
</row>
{% endblock %}

{% block script %}
    <script>
        const cand_id = '{{cand_id}}';
        const cand_name = '{{cand_name}}';
    </script>
    <script type="text/javascript" src=static/lookup.js></script>
{% endblock %}

