{% extends 'index.html' %}

{% block content %}
<style>
.bar.total rect {
  fill: steelblue;
}

.bar.positive rect {
  fill: darkolivegreen;
}
.bar.negative rect {
  fill: crimson;
}

.bar line.connector {
  stroke: grey;
  stroke-dasharray: 3;
}

.bar text {
  fill: white;
  font: 12px sans-serif;
  text-anchor: middle;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
</style>
<h2 id="cand_name">{{cand_name}}</h2>
<div class="row">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <div class="input-field">
                    <input id="searchbar" type="text" class="autocomplete">
                    <label for="searchbar">Candidate Search</label>
                </div>
            </div>
        </div>
    </div>
</row>
<div class="row">
    <div class="col s3">
        <div class="card">
            <div class="card-content">
                <table class="striped">
                    <thead>
                        <tr><th colspan="2">Candidate Info</th></tr>
                    </thead>
                    <tbody>
                        <tr><td colspan="2"><img id="candphoto" width="225" height="275"></td></tr>
                        <tr><th>Name</th><td>{{cand_name}}</td></tr>
                        <tr><th>FEC ID</th><td>{{cand_id}}</td></tr>
                        <tr><th>Office</th><td>{{cand_office}}</td></tr>
                        <tr><th>District</th><td>{{cand_district}}</td></tr>
                        <tr><th>State</th><td>{{cand_state}}</td></tr>
                        <tr><th>Party</th><td>{{cand_party}}</td></tr>
                        <tr><th>Status</th><td>{{cand_status}}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col s4 offset-s1">
        <div class="card">
            <div class="card-content">
                <table class="striped">
                    <thead>
                        <tr><th colspan="2">Most recent competitors</th></tr>
                    </thead>
                    <tbody id="mrelect">
                    <tr><th>Year</th><th>State</th><th>District</th><th>FEC ID</th></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col s12 m6 l6" >
        <div class="card">
            <div class="card-content" id="sankey-content">
                <header><h4>Direct Contributions by Type</h2></header>
                <svg id="sankey"></svg>
                <img src='https://s3.us-south.objectstorage.softlayer.net/staticassets2/loading.gif'>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l6" >
        <div class="card">
            <div class="card-content" id="sankey-content2">
                <header class="container"><h4>Direct Contributions by Industry</h2></header>
                <svg id="sankey2"></svg> 
                <img src='https://s3.us-south.objectstorage.softlayer.net/staticassets2/loading.gif'>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12" >
        <div class="card">
            <div class="card-content" id="content">
                <header><h4>PAC Spending Support</h4></header>
                <svg id="timeseries_for"></svg>
                <img src='https://s3.us-south.objectstorage.softlayer.net/staticassets2/loading.gif'>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12" >
        <div class="card">
            <div class="card-content" id="content">
                <header class="w3-container"><h4>PAC Spending Against</h4></header>
                <svg id="timeseries_against"></svg>
                <img src='https://s3.us-south.objectstorage.softlayer.net/staticassets2/loading.gif'>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script>
        const cand_id = '{{cand_id}}';
        const data_endpoint = '/api/candidates/' + cand_id + '/sk/type';
        const industry_endpoint = '/api/candidates/' + cand_id + '/sk/industry';
        //const wf_endpoint = '/api/candidates/' + cand_id + '/wf';
        function setCandPhoto() {
            console.log(this.responseText);
            $('#candphoto').attr('src', this.responseText);
        }

        var oReq = new XMLHttpRequest();
        var candPhotoReqUrl = "/candphoto/{{cand_id}}";
        console.log(candPhotoReqUrl);
        oReq.addEventListener("load", setCandPhoto);
        oReq.open("GET", candPhotoReqUrl);
        oReq.send();

        function addCand(cand_row) {
            $('#mrelect').append($.parseHTML('<tr><td>' + cand_row.cycle + '</td><td>' + cand_row.state + '</td><td>' + cand_row.district + '</td><td><a href="/candidates/' + cand_row.fec_id + '">' + cand_row.fec_id + '</a></td></tr>'));
        }

        function addCands() {
            xhr_ret = JSON.parse(this.response);

            console.log(xhr_ret);
            console.log(xhr_ret.length);

            for (var i = 0; i < xhr_ret.length; i++) {
                addCand(xhr_ret[i]);
            }
        }

        var oReqC = new XMLHttpRequest();
        var competitors = "/electionppts/{{cand_id}}";
        console.log(competitors);
        oReqC.addEventListener("load", addCands);
        oReqC.overrideMimeType("application/json");
        oReqC.open("GET", competitors);
        oReqC.send();
    </script>
    <script type="text/javascript" src=/static/candidate.js></script>
    <script type="text/javascript" src=/static/sankey.js></script>
    <!--<script type="text/javascript" src=/static/waterfall.js></script>-->
    <script type="text/javascript" src=/static/lookup.js></script>
{% endblock %}


