{% extends 'index.html' %}

{% block content %}
<style>
.bar.total rect {
  fill: steelblue;
}

.bar.positive rect {
  fill: darkolivegreen;
}
.bar.negative rect {
  fill: crimson;
}

.bar line.connector {
  stroke: grey;
  stroke-dasharray: 3;
}

.bar text {
  fill: white;
  font: 12px sans-serif;
  text-anchor: middle;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
</style>
<div class="row">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <div id="searchbox" class="input-field">
                    <input id="search" type="search" name="candname" value="Candidate Search">
                </div>
            </div>
        </div>
    </div>
</row>
<div class="row">
    <div class="col s2 m3 l3 ">
        <div class="card">
            <div class="card-content">
                <table class="striped">
                    <thead>
                        <tr><th colspan="2">Candidate Info</th></tr>
                    </thead>
                    <tbody>
                        <tr><th>Name</th><td>{{cand_name}}</td></tr>
                        <tr><th>FEC ID</th><td>{{cand_id}}</td></tr>
                        <tr><th>Office</th><td>{{cand_office}}</td></tr>
                        <tr><th>District</th><td>{{cand_district}}</td></tr>
                        <tr><th>State</th><td>{{cand_state}}</td></tr>
                        <tr><th>Party</th><td>{{cand_party}}</td></tr>
                        <tr><th>Status</th><td>{{cand_status}}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m6 l6" >
        <div class="card">
            <div class="card-content" id="sankey-content">
                <header><h4>Direct Contributions to {{cand_name}}</h2></header>
                <svg id="sankey"></svg>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l6" >
        <div class="card">
            <div class="card-content" id="waterfall-content">
                <header class="container"><h4>Contributions Breakdown {{cand_name}}</h2></header>
                <svg id="waterfall"></svg> 
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12" >
        <div class="card">
            <div class="card-content" id="content">
                <header><h4>PAC Spending for {{cand_name}}</h4></header>
                <svg id="timeseries_for"></svg>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12" >
        <div class="card">
            <div class="card-content" id="content">
                <header class="w3-container"><h4>PAC Spending against {{cand_name}}</h4></header>
                <svg id="timeseries_against"></svg>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script>
        const cand_id = '{{cand_id}}';
        const cand_name = '{{cand_name}}';
        const data_endpoint = '/candidates/' + cand_id + '/sk';
        const wf_endpoint = '/candidates/' + cand_id + '/wf';
    </script>
    <script type="text/javascript" src=static/candidate.js></script>
    <script type="text/javascript" src=static/sankey.js></script>
    <script type="text/javascript" src=static/waterfall.js></script>
    <script type="text/javascript" src=static/lookup.js></script>
{% endblock %}


