{% extends 'index.html' %}

{% block content %}
<!--<div class="nav">
    <span id='menu'>&#9776;</span> 
    <ul id="top-menu">
        <li><a href="#intro" class="links active">Intro</a></li>
        <li><a href="#sankey" class="links">Industry</a></li>
        <li><a href="#network" class="links">Network</a></li>
        <li><a href="#candidate" class="links">Candidate</a></li>
        <li><a href="#links" class="links">All visualizations</a></li>
    </ul>
</div>-->
<div class="container">
  <div class="row">
    <div class="col s12 m9 offset-m1">
        <div class="carousel">
            <a class="carousel-item" href="#pres-sankey-3"><img height="200" src="https://s3.us-south.objectstorage.softlayer.net/staticassets2/pres-sankey-3.png"></a>
            <a class="carousel-item" href="#pres-sankey-4"><img height="200" src="https://s3.us-south.objectstorage.softlayer.net/staticassets2/pres-sankey-4.png"></a>
            <a class="carousel-item" href="#pres-network-1"><img height="200" src="https://s3.us-south.objectstorage.softlayer.net/staticassets2/pres-network-3.png"></a>
            <a class="carousel-item" href="#pres-cand-2"><img height="200" src="https://s3.us-south.objectstorage.softlayer.net/staticassets2/pres-cand-2.png"></a>
            <a class="carousel-item" href="#pres-cand-4"><img height="200" src="https://s3.us-south.objectstorage.softlayer.net/staticassets2/pres-cand-4.png"></a>
        </div>
    </div>
    <div class="col s12 offset-s2 m9 offset-m1">
      <div id='intro' class='section scrollspy'>
<!--<h1>The civic process</h1>
<p>Near the end of every even-numbered year, United States citizens 18 and older cast a vote for the person who will represent them in the next Congress. In 2018, we elected members of the 116th Congress, who are expected to report for duty on January 3, 2019, 230 years after the First Congress commenced and the United States Government formally began operations. The winners of this election will go on to serve either a two- or six-year term in the House of Representatives or the Senate, respectively, setting historic lesgislative agendas that will guide the country for generations.</p>-->
<!--<h1>The representative's dilemma</h1>
<p>Despite cynical remarks often made (and rightly so) to the contrary, most voters secretly hope that their elected representatives will find the courage to hold their best interests at heart while serving in Congress. Any many do so faithfully. But with 325,700,000 Americans and only 538 representatives, those on Capitol Hill can't listen to everyone. How do they decide which interests to prioritize?</p>-->
        <h3>Money is in politics. Bigly.</h3>
        <p>In the 2016 election, nearly <strong>$6.6 billion</strong> was raised and spent by candidates campaigning for Federal office. <!--This figure includes money coming from individuals, PACs, Super PACs, and other organizations (including "dark-money" organizations such as 501(c)(4) and 527 committees). We can orient ourselves in the political landscape by digging into where this money comes from and where it goes.</p>
<p>-->
We start by asking: Does raising more money
than your opponent increase your chances of winning an election? Data released for the 2016 election by the Federal Election Commission show that in a shocking <strong>94%</strong> of races, the candidate who raised the most money also won the election.</p>
        <div class='section'>
          <center>
          <img src='https://s3.us-south.objectstorage.softlayer.net/staticassets2/figure-1.png' alt='Graph showing relationship between overall percentage raised in each election vs. chances of winning election. As fraction raised increases, so do the chances of winning.'>
          </center>
        </div>
        <p> The effects of outraising your opponent (shown above) indicate that as more money is raised relative to opponents, winning an election becomes a near certainty. Since money is such a powerful force in the political process, you can bet that politicians pay very close attention to their donors. We believe that it is important that constituents understand who contributes to the campaigns of their elected representatives so that they are aware of those whose voices carry the most weight once a candidate becomes a legislator.</p>
        <!--<p>We see above that more money corresponds to higher chances of winning an election. And it's no small effect. Below, we show two very different races, one with a significant partisan advantage and one highly competitive:
<div style='margin:auto; width:85%;'><img src='static/close-far-spend.png' alt='Alaska senator race shows Lisa Murkowski winning and vastly outspending her opponent. California District 21 race shows a much closer fundraising with David Valadao narrowly outraising his opponent and winning.'></div>
<p>On the left, the Alaska senate race was a fundraising blowout by Lisa Murkowski, who also handily won the election. Despite the significant partisan advantage, her campaign still raised upwards of $5 million, while Democrats barely put up a fight for her seat. On the right, the CA-21 race was much closer, with David Valadao narrowly outraising his competition and winning the election.</p>
<p>This isn't always the case. Sometimes a candidate wins without having the most money. However, the fundraising effect is strong enough to warrant further investigation.</p>-->
        <h3>So we built Kingmakers.</h3>
        <p>Kingmakers is a set of tools which guide you through the campaign finances of your elected representatives. This data, which the <a target="_blank" href="https://fec.gov">Federal Election Commission (FEC)</a> makes publicly available, shows which individuals, PACs, and industries contribute to which campaigns, and how much is being contributed. We also include data from other organizations in this area, including <a target="_blank" href="https://opensecrets.org">OpenSecrets</a>, <a target="_blank" href="https://propublica.org">ProPublica</a>, and <a target="_blank" href="https://github.com/unitedstates">various contributors on GitHub</a>.</p>
        <p>With so much data coming from so many different sources, it can be difficult to orient yourself in the realm of political fundraising. Whether you're a curious first-time voter or a seasoned ballot slinger, you can use the Kingmakers tool to find your way around the campaign funds of your elected representative.</p>
        <p>Let's look at how the Kingmakers tool can be used to understand the fundraising behind a political campaign.</p>
      </div>
      <div id='sankey' class='row section scrollspy'>
        <div class="col s12 l6">
          <a href="/industries">
          <img style="margin-top:40px;" width="200px" src='https://s3.us-south.objectstorage.softlayer.net/staticassets2/pres-sankey-3.png'>
          </a>
        </div>
        <div class="col s12 l6">
          <h5>Industry diagram</h5>
          <p>A profile of industry spending in politics. The top 100 contributions and their recipients are shown through linkages which show the funding priorities of different industries. Use this tool to generate ideas regarding what parties receive money from different industry groups. Within the diagram, click on a link to view the specific politicians receiving money from that particular industry.</p>
        </div>
      </div>
      <div id='network' class='row section scrollspy'>
        <div class="col s12 l6">
          <a href="/network">
          <img style="margin-top: 40px;" width="200px" src='https://s3.us-south.objectstorage.softlayer.net/staticassets2/network_prev.png'>
          </a>
        </div>
        <div class="col s12 l6">
          <h5>Network visualization</h5>
          <p>Explore the interconnections between industry donations and politicians in a guided tour of campaign contributions. We highlight a few interesting cases and allow you explore the data yourself using guided drill-downs. (You might need a larger screen to get the full effect!)</p>
        </div>
      </div>
      <div id='candidate' class='row section scrollspy'>
        <div class="col s12 l6">
          <a href="/candidates">
          <img style="margin-top:40px;" width="200px" src='https://s3.us-south.objectstorage.softlayer.net/staticassets2/pres-cand-4.png'>
          </a>
        </div>
        <div class="col s12 l6">
          <h5>Candidate dashboard</h5>
          <p>Dig even deeper into the funding of an individual candidate in order to see detailed campaign finance data. You can use this tool to see the specific informations on campaigns that you've already uncovered or to see data on a politician you are curious about.</p>
        </div>
      </div>
      <div id='visualizations' class='section scrollspy'>
        <h3>All visualizations</h3>
        <div class='row section'>
          <a href='/candidates'>
          <div class='col s12 l6'>
            <h5>Candidates</h5>
            <img src='https://s3.us-south.objectstorage.softlayer.net/staticassets2/candidate_prev.png'>
          </div>
          </a>
          <a href='/industries'>
          <div class='col s12 l6'>
            <h5>Industries</h5>
            <img src='https://s3.us-south.objectstorage.softlayer.net/staticassets2/sankey_prev.png'>
          </div>
          </a>
          <a href='/network'>
          <div class='col s12 l6'>
            <h5>Networks</h5>
            <img src='https://s3.us-south.objectstorage.softlayer.net/staticassets2/network_prev.png'>
          </div>
          </a>
          <a href='/tableau'>
          <div class='col s12 l6'>
            <h5>Geography</h5>
            <img src='https://s3.us-south.objectstorage.softlayer.net/staticassets2/geography_prev.png'>
          </div>
          </a>
        </div>
      </div>
      <div id="about" class="section scrollspy">
        <h3>About Us</h3>
        <p>We are students in the Masters of Information and Data Science at UC Berkeley: Matt Proetsch, Jennifer Phillippou, Daniel Balck, and Qing Zhang</p>
      </div>
    </div>
    <!-- Table of Contents -->
    <div class="col hide-on-small-only m2 offset-l1 l1">
      <div class="toc-wrapper pinned" style="top: 100px;">
        <div style="height: 1px;">
          <ul class="section table-of-contents">
            <li>
              <a href="#intro">Introduction</a>
            </li>
            <li>
              <a href="#sankey">Step 1 (example)</a>
            </li>
            <li>
              <a href="#network">Step 2 (example)</a>
            </li>
            <li>
              <a href="#candidate">Step 3 (example)</a>
            </li>
            <li>
              <a href="#visualizations">All visualizations</a>
            </li>
            <li>
              <a href="#about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>  <!-- row -->
</div>  <!-- container -->
<script>
/* $(document).ready(function(){
  var $sections = $('.story-container');
  $(window).scroll(function(){
    var currentScroll = $(this).scrollTop();
    var $currentSection = $('#intro')
    $sections.each(function(){
      var divPosition = $(this).offset().top;
      if( divPosition - 1 < currentScroll ){
        $currentSection = $(this);
      }
    })
    var id = $currentSection.attr('id');
    $('a').removeClass('active');
    $("a[href='#"+id+"']").addClass('active');

  });
});
*/
$(document).ready(function(){
    $('.scrollspy').scrollSpy();
});
</script>
{% endblock %}
