{% extends 'index.html' %}

{% block content %}
<h1>Kingmakers</h1>
<h4>Money in Politics</h4>
<p>This website is an attempt to dive into the contributors -- and beneficiaries -- of US federal politics. We have scraped data from the FEC (Federal Election Commission), and analyzed the data with several visualization tools (Sankey charts, geographic and network diagrams) in order to more clearly convey these spending trends to the public. </p>
<h4>Candidates</h4>
<p>This viz gives a time-series analysis of contributions to and spending against canddiates during the 2018 US Midterm elections</p>
<h4>Sankey</h4>
<p>This viz gives an profile of industry spending in politics. The top 100 contributions, and their recipients are shown</p>
<h4>About Us</h4>
<p>We are students in the Masters of Information and Data Science at UC Berkeley: Matt Proetsch, Jennifer Phillippou, Daniel Balck, and Qing Zhang</p>
{% endblock %}
