{% extends 'index.html' %}

{% block content %}
<!--<div class="nav">
    <span id='menu'>&#9776;</span> 
    <ul id="top-menu">
        <li><a href="#intro" class="links active">Intro</a></li>
        <li><a href="#sankey" class="links">Industry</a></li>
        <li><a href="#network" class="links">Network</a></li>
        <li><a href="#candidate" class="links">Candidate</a></li>
        <li><a href="#links" class="links">All visualizations</a></li>
    </ul>
</div>-->
<div class="container">
  <div class="row">
    <div class="col s8 offset-s4 m6 offset-m4 xl8 offset-xl2">
      <div id='intro' class='section scrollspy'>
<!--<h1>The civic process</h1>
<p>Near the end of every even-numbered year, United States citizens 18 and older cast a vote for the person who will represent them in the next Congress. In 2018, we elected members of the 116th Congress, who are expected to report for duty on January 3, 2019, 230 years after the First Congress commenced and the United States Government formally began operations. The winners of this election will go on to serve either a two- or six-year term in the House of Representatives or the Senate, respectively, setting historic lesgislative agendas that will guide the country for generations.</p>-->
<!--<h1>The representative's dilemma</h1>
<p>Despite cynical remarks often made (and rightly so) to the contrary, most voters secretly hope that their elected representatives will find the courage to hold their best interests at heart while serving in Congress. Any many do so faithfully. But with 325,700,000 Americans and only 538 representatives, those on Capitol Hill can't listen to everyone. How do they decide which interests to prioritize?</p>-->
        <h3>Money is in politics. Bigly.</h3>
        <p>In the 2016 election, nearly <strong>$6.6 billion</strong> was raised and spent by candidates campaigning for Federal office. <!--This figure includes money coming from individuals, PACs, Super PACs, and other organizations (including "dark-money" organizations such as 501(c)(4) and 527 committees). We can orient ourselves in the political landscape by digging into where this money comes from and where it goes.</p>
<p>-->
We start by asking: Does raising more money
than your opponent increase your chances of winning an election?</p>
        <p>Data released for the 2016 election by the Federal Election Commission show that in a shocking <strong>94%</strong> of races, the candidate who raised the most money also won the election. The effects of outraising your opponent are shown below by varying degrees:</p>
        <div class='section'>
          <img src='https://s3.us-south.objectstorage.softlayer.net/staticassets2/figure-1.png' alt='Graph showing relationship between overall percentage raised in each election vs. chances of winning election. As fraction raised increases, so do the chances of winning.'>
        </div>
<!--<p>We see above that more money corresponds to higher chances of winning an election. And it's no small effect. Below, we show two very different races, one with a significant partisan advantage and one highly competitive:
<div style='margin:auto; width:85%;'><img src='static/close-far-spend.png' alt='Alaska senator race shows Lisa Murkowski winning and vastly outspending her opponent. California District 21 race shows a much closer fundraising with David Valadao narrowly outraising his opponent and winning.'></div>
<p>On the left, the Alaska senate race was a fundraising blowout by Lisa Murkowski, who also handily won the election. Despite the significant partisan advantage, her campaign still raised upwards of $5 million, while Democrats barely put up a fight for her seat. On the right, the CA-21 race was much closer, with David Valadao narrowly outraising his competition and winning the election.</p>
<p>This isn't always the case. Sometimes a candidate wins without having the most money. However, the fundraising effect is strong enough to warrant further investigation.</p>-->
        <h3>So we built Kingmakers.</h3>
        <p>Kingmakers is a tool which guides you through the campaign finances of your elected representatives. This data, which the Federal Election Commission (FEC) makes publicly available, shows which individuals, PACs, and industries contribute to which campaigns, and how much is being contributed. There are many aspects to this data, so we've created several visualizations to help you find your way around.</p>
        <p>As an example, let's look at a few of the visualization products and how they fit in with one another.</p>
      </div>
      <div id='sankey' class='section scrollspy'>
        <p>Analysis starts with industry sankey diagram</p>
        <img src='https://s3.us-south.objectstorage.softlayer.net/staticassets2/sankey_prev.png'>
      </div>
      <div id='network' class='section scrollspy'>
        <p>Analysis gets deeper with network diagram</p>
        <img src='https://s3.us-south.objectstorage.softlayer.net/staticassets2/network_prev.png'>
      </div>
      <div id='candidate' class='section scrollspy'>
        <p>Deep dive into the candidate dashboard to understand finances</p>
        <img src='https://s3.us-south.objectstorage.softlayer.net/staticassets2/candidate_prev.png'>
      </div>
      <div id='visualizations' class='section scrollspy'>
        <a href='/candidates'>
        <div class='row section'>
          <div class='col s12 l6'>
            <img src='https://s3.us-south.objectstorage.softlayer.net/staticassets2/candidate_prev.png'>
          </div>
          <div class='col s12 l6'>
            <h4>Candidates</h4>
            <p>See the campaign contributions made to each candidate as well as their biggest donors.</p>
          </div>
        </div>
        </a>
        <a href='/sankey'>
        <div class='row section'>
          <div class='col s12 l6'>
            <img src='https://s3.us-south.objectstorage.softlayer.net/staticassets2/sankey_prev.png'>
          </div>
          <div class='col s12 l6'>
            <h4>Sankey</h4>
            <p>A profile of industry spending in politics. The top 100 contributions and their recipients are shown through linkages which show the funding priorities of different industries.</p>
          </div>
        </div>
        </a>
        <a href='/network'>
        <div class='row section'>
          <div class='col s12 l6'>
            <img src='https://s3.us-south.objectstorage.softlayer.net/staticassets2/network_prev.png'>
          </div>
          <div class='col s12 l6'>
            <h4>Network</h4>
            <p>Explore the interconnections between industry donations and politicians in a guided tour of campaign contributions. We highlight a few interesting cases and allow you explore the data yourself.</p>
          </div>
        </div>
        </a>
        <a href='/tableau'>
        <div class='row section'>
          <div class='col s12 l6'>
            <img src='https://s3.us-south.objectstorage.softlayer.net/staticassets2/geography_prev.png'>
          </div>
          <div class='col s12 l6'>
            <h4>Geographic</h4>
            <p>Explore top contributions by geographic origin. Each state shows the primary industries by total amount originating in that state.</p>
          </div>
        </div>
        </a>
      </div>
      <div id="about" class="section scrollspy">
        <h4>About Us</h4>
        <p>We are students in the Masters of Information and Data Science at UC Berkeley: Matt Proetsch, Jennifer Phillippou, Daniel Balck, and Qing Zhang</p>
      </div>
    </div>
    <!-- Table of Contents -->
    <div class="col hide-on-small-only m2 offset-xl1 xl1">
      <div class="toc-wrapper pinned" style="top: 0px;">
        <div style="height: 1px;">
          <ul class="section table-of-contents">
            <li>
              <a href="#intro">Introduction</a>
            </li>
            <li>
              <a href="#sankey">Step 1 (example)</a>
            </li>
            <li>
              <a href="#network">Step 2 (example)</a>
            </li>
            <li>
              <a href="#candidate">Step 3 (example)</a>
            </li>
            <li>
              <a href="#visualizations">All visualizations</a>
            </li>
            <li>
              <a href="#about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>  <!-- row -->
</div>  <!-- container -->
<script>
/* $(document).ready(function(){
  var $sections = $('.story-container');
  $(window).scroll(function(){
    var currentScroll = $(this).scrollTop();
    var $currentSection = $('#intro')
    $sections.each(function(){
      var divPosition = $(this).offset().top;
      if( divPosition - 1 < currentScroll ){
        $currentSection = $(this);
      }
    })
    var id = $currentSection.attr('id');
    $('a').removeClass('active');
    $("a[href='#"+id+"']").addClass('active');

  });
});
*/
$(document).ready(function(){
    $('.scrollspy').scrollSpy();
});
</script>
{% endblock %}
