<!DOCTYPE html>
<html>
<head>
    <title>Kingmakers</title>
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://s3.us-south.objectstorage.softlayer.net/staticassets2/d3-array-1.js"></script>
    <script src="https://s3.us-south.objectstorage.softlayer.net/staticassets2/d3-collection-1.js"></script>
    <script src="https://s3.us-south.objectstorage.softlayer.net/staticassets2/d3-path-1.js"></script>
    <script src="https://s3.us-south.objectstorage.softlayer.net/staticassets2/d3-shape-1.js"></script>
    <script src="https://s3.us-south.objectstorage.softlayer.net/staticassets2/d3-sankey-0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.13.0/d3-legend.js"></script>
    <!--<script type="text/javascript" src={{ url_for('static', filename='sankey.js') }}></script> -->
    <link rel="icon" href="https://s3.us-south.objectstorage.softlayer.net/staticassets2/kingmakers-favicon.png" sizes="32x32">
    <!-- Materialize.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Materialize.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- collapsible sidenav -->
    <script>
    var hideSidebar = function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    }
    document.addEventListener('DOMContentLoaded', function() {
    // do it twice. why do it twice? because you have to.
        hideSidebar();
        window.setTimeout(hideSidebar, 250);
    });
    $(document).ready(function() {
        $(".dropdown-trigger").dropdown({
            constrainWidth: false,
            coverTrigger: false
        });
    });
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.carousel');
      var instances = M.Carousel.init(elems);
    });
    </script>

    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<style>
.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}

* {
    box-sizing: border-box;
}
/*.active{
    color: white;
    background-color: rgba(100,100,100,1);
    border-left: thick solid rgba(0,255,0,0.5);
}*/
</style>
</head>
<body >
<header>
    <ul id="dropdown1" class="dropdown-content">
        <li class="bold">
            <a href="/" class="waves-effect">Home</a>
        </li>
        <li class="bold">
            <a href="/candidates" class="waves-effect">Candidates</a>
        </li>
        <li class="bold">
            <a href="/industries" class="waves-effect">Industry</a>
        </li>
        <li class="bold">
            <a href="/tableau" class="waves-effect">Tableau</a>
        </li>
        <li class="bold">
            <a href="/network" class="waves-effect">Network</a>
        </li>
    </ul>
    <div class="navbar-fixed">
        <nav class="red darken-4" style='background-image: linear-gradient(to bottom, rgba(196, 34, 34, 255), rgba(176, 30, 30, 255)) !important'>
            <div class="nav-wrapper">
                <a href="/" class="center brand-logo">Kingmakers</a>
                <ul class="left hide-on-med-and-down">
                    <li><a class="dropdown-trigger" data-target="dropdown1">Menu</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!--
    <h4 class="pinned" style="left: 20px; top: 10px; color:white;"><a href="#" data-target="slide-out" class="btn sidenav-trigger" style="color:white;"><i class="material-icons">menu</i></a></h4>
    <ul id="slide-out" class="sidenav" style="overflow:auto; transform:translateX(0%); background-image: linear-gradient(to bottom, white, rgba(244, 244, 244, 255)">
        <a id="logo-container" class="logo brand-logo" href="/" style="padding:25px;"><center><img width="150" src="https://s3.us-south.objectstorage.softlayer.net/staticassets2/kingmakers-logo.png"></center></a>
    </ul>
    -->
</header>
<main >
  {% block content %}  
  {% endblock %}
</main>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
    <!-- Compiled and minified CSS -->
</body>

{% block script %}  
{% endblock %}
</html> 
