<!DOCTYPE html>
<html>
<head>
    <title>Kingmakers</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://unpkg.com/d3-array@1"></script>
    <script src="https://unpkg.com/d3-collection@1"></script>
    <script src="https://unpkg.com/d3-path@1"></script>
    <script src="https://unpkg.com/d3-shape@1"></script>
    <script src="https://unpkg.com/d3-sankey@0"></script>
    <!--<script type="text/javascript" src={{ url_for('static', filename='sankey.js') }}></script> -->
<style>
.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}
</style>
</head>
<body>
    <div class="w3-sidebar w3-bar-block w3-light-grey" style="width:10%">
        <h3 class="w3-bar-item">Menu</h3>
        <a href="/" class="w3-bar-item w3-button">Home</a>
        <a href="/sankey" class="w3-bar-item w3-button">Sankey</a>
        <a href="/" class="w3-bar-item w3-button">Other</a>
    </div>
    <div style="margin-left:10%">
        <div class="w3-container">
            <div id="content" style="margin-top:10%">
                {% block content %}  
                {% endblock %}
            </div>
        </div> 
    </div>
</body>
{% block script %}  
{% endblock %}
</html> 
