{% extends 'index.html' %}

{% block content %}
<div id="sankey-content" class="w3-panel">
    <h2>Political Spending By Industry</h2>
    <p>Click a path to zoom into a per-candidate view</p>
    <button id="backbtn" class="w3-btn w3-blue w3-margin-bottom " style="display: none" onclick="goback()">Back</button> 
    <svg id="sankey"></svg>
<div>
{% endblock %}

{% block script %}
    <script>
        const data_endpoint = '/industries/data';
    </script>
<script type="text/javascript" src="static/sankey.js"></script>
{% endblock %}

