{% extends 'index.html' %}

{% block content %}
<title>Network Analysis</title>
<body>
<div class="container">
  <div id='graphic'>
    <div id='sections'>
      <section class="step">
        <div class="title">Welcome to Network Visualizations!</div>
        If you've never looked at a network graph, don't worry we are going to walk you through them.<br/><br/>
	      Unlike the candidate page, we are looking at the campaign funding for US elections in 2016 because the outcome data is much more reliable,
	      and there is a lag in the data as the funding documentation deadline is at the end of December. 
      </section>
      <section class="step">
        <div class="title">Toy Example</div>
		<p>Here we have a tiny network graph to introduce you to the visualization’s components. In this particular network, the largest node (in orange) represents the money being contributed to campaigns. All of the other nodes are politicians receiving donations.</p>
<p>The nodes in blue are Democrats and the nodes in red are Republicans; occasionally there is a rare Independent node shown in green. If the node has a yellow outline that means the candidate was successful and won his or her election. The size of the circle corresponds to the amount of money contributed/raised.</p>
<p>If you hoover your mouse over a candidate node it will detail the name of the candidate, his or her political party, and the total contributions raised.  You can also hoover over the links and see how much money was exchanged between the nodes.</p>
<p>By double clicking on a node in the diagram you will filter it to only include the nodes that are directly linked to it. This comes in very handy for the more complex networks. Once you are done looking at the node, just click on it again to return to the full network. </p>
 </section>
      <section class="step">
        <div class="title">Example Analysis: I</div>
        In the picture to the right you can see the Natural Gas, Transmission and Distribution's node has been selected. This group has a slightly Republican lean and almost all candidates supported won their election
      </section>
          </section>
		  <section class="step">
        <div class="title">Example Analysis: II</div>
        In the next picture you can see the Food Services & Related Unions's node has been selected. This group has a strong democratic lean and many candidates supported lost their election
      </section>
          </section>
		
		<section class="step">
        <div class="title">Industry View Filtered by Politician</div>
        Here is a slice of the funding network pre-poulated with data on democratic candidate Sean Patrick Maloney, who ran in NY for the house of representatives. 
	The network shows the industries that supported him and the other candidates supported by the same industries,
	as well as which candidates were successful. Mr. Maloney was successful in his election as indicated by the a green circle around his node. 
			<p></p>
	This particular network view merges both the individual and the committee spending so it is the most comprehensive. The industry indentification
	was made available to our team by OpenSecrets. Any node, wether an industry or a candidate, with less than $75k of contributions has been removed so the visualization is more usable.
	<div id = "graphic" class="ui-widget" method="POST">
		<input id="search">
    <button id='button' type="button" >Find</button>
	</div>
	<div id = "graphic" class="ui-widget" method="POST">
		<input id="search2" name = "search2">
    <button id='button2' type="button" >New Graph</button>  <!--onclick="searchNode()"-->
	</div>
	  </section>
	<section class="step">
        <div class="title">Individual View Filtered by Politician</div>
        Once again, the graph is pre-populated with Sean Patrick Maloney, but this network shows only the individuals that supported him. 
	The threshold for contributions needed to be much lower ($15) because individuals contribute at a very different scale, and the network 
	only shows contributions directly made to the candidate. As you may have guessed, it is less common for individuals to contribute 
	to several politicians. The size of the starburst seen directly around the candidate node reflects how many contributors
		only sponsored his campaign.
	As with the other networks, you can double click on a node to pin it down and explore further. Try this out with Philip Munger!
	<div id = "graphic" class="ui-widget" method="POST">
		<input id="search3">
    <button id='button3' type="button" >Find</button>
	</div>
	<div id = "graphic" class="ui-widget" method="POST">
		<input id="search4" name = "search4">
    <button id='button4' type="button" >New Graph</button> 
	</div>
	  </section>
	  </section>
	  <section class="step">
        <div class="title">Committee View Filtered by Politician</div>
        Keeping with the theme, the network at the right is also for Sean Patrick Maloney. Here we examine the PACs that contributed to
		  his campagain. The threshold for this visualization is two thousand dollars.
		  <div id = "graphic" class="ui-widget">
		<input id="search5">
    <button id='button5' type="button" onclick="searchNode()">Find</button>
	</div>
	<div id = "graphic" class="ui-widget" method="POST">
		<input id="search6" name = "search6">
    <button id='button6' type="button" >New Graph</button> 
	</div>
	<p></p>
	<p></p>
	
	  </section>
    
    </div>
    <div id='vis'>
    </div>
    <div id="extra-space">
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
        const data_endpoint = '/networkdata';
</script>
<!--<link rel="stylesheet" type="text/css" href="static/bootstrap.min.css"/>-->
<link rel="stylesheet" type="text/css" href="static/css/network_style.css"/>
  
<!-- core CSS slider -->
<link rel="stylesheet" href="/static/bootstrap.min.css">
<link rel="stylesheet" href="/static/bootstrap-slider.css">

<!--old network page I think
<script type="text/javascript" src="/assets/network.js"></script>-->

<!-- scrollytelling stuff -->
<script type="text/javascript" src="/static/js/d3.js"></script>
<script type="text/javascript" src="/static/js/scroller.js"></script>
<script type="text/javascript" src="/static/js/sections.js"></script>

<!-- slider-->
<script src="//code.jquery.com/jquery-2.1.3.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script>var $x = jQuery.noConflict();</script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/hot-sneaks/jquery-ui.css" />


<!--Jquery for search box-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>var $y = jQuery.noConflict();</script>
<link type="text/css" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

<script src="//d3js.org/d3.v4.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3-legend/2.24.0/d3-legend.min.js"></script>
<script src="//d3js.org/d3-scale-chromatic.v1.min.js"></script>

{% endblock %}
